<template>
  <q-page class="main-page">
    <div class="main-page-menu">
      <div class="section">
        <span class="title"><Dash class="dash" height="2px" width="46px" />Our products</span>
      </div>
      <div class="section text-section">
        <section-item>Pineapples</section-item>
        <section-item>Strawberries</section-item>
        <section-item>Apples</section-item>
        <section-item>Citrus</section-item>
      </div>
      <div class="section text-section">
        <section-item>Cauliflowers</section-item>
        <section-item>Tomatoes</section-item>
        <section-item>Eggplants</section-item>
        <section-item>Carotts</section-item>
      </div>
      <div class="section">
        <span class="logo"><img src="img/twitter.png" /></span>
        <span class="logo"><img src="img/youtube.png" /></span>
        <span class="logo"><img src="img/instagram.png" /></span>
        <span class="logo"><img src="img/facebook.png" /></span>
      </div>
    </div>
    <div class="main-page-content">
      <div class="main-page-title"><span>Our fruits & vegetables are</span><span> organic</span></div>
      <div class="main-page-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
      <div class="main-page-button transition-button-color"><span class="discover"><span>Discover</span>
      <figure>
        <div>
          <svg viewBox="0 0 100 100" width="20" height="10">
            <polygon points="0 0, 50 50, 0 100"/>
          </svg>
        </div>
      </figure></span></div>
    </div>
  </q-page>
</template>

<script>
import Dash from '../components/dash'
import SectionItem from '../components/SectionItem'
export default {
  name: 'PageIndex',
  components: {SectionItem, Dash}
}
</script>

<style scoped lang="scss">
  .main-page {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    .main-page-menu {
      height: 165px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .section {
        flex: max-content;

        .logo {
          display: flex;
          justify-content: center;
          img {
            margin-right: 40px;
            display: block;
          }
        }

        .title {
          color: var(--main-font-color);
          font-family: "acumin_pro", sans-serif;
          display: flex;
          font-weight: bold;
          font-size: 24px;

          .dash {
            margin-top: 17px;
            margin-left: 55px;
            margin-right: 15px;
          }
        }
      }

      .section:nth-child(1) {

      }

      .section:not(.section:nth-child(1)) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    .main-page-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .main-page-title {
        font-family: "Acumin Pro Black", sans-serif;
        font-size: 150px;
        width: 1064px;
        line-height: 130px;
        margin: 15vh 15vw auto;
        opacity: 0.8;

        :nth-child(1){
          color: var(--primary-2);
        }
        :nth-child(2){
          color: var(--secondary);
        }
      }
      .main-page-text {
        margin: 30px 20vw auto;
        padding: 40px;
        width: 900px;
        background: #FFFFFF 0 0 no-repeat padding-box;
        opacity: 0.6;
      }

      .main-page-button {
        width: 208px;
        height: 38px;
        font-size: 12px;
        font-family: "Acumin Pro", sans-serif;
        font-weight: bold;
        margin: 30px 20vw auto;

        .discover {
          margin-top: 10px;
          color: var(--white);
          display: flex;
          justify-content: center;

          figure {
            margin: 2px;

            polygon {
              fill: #fff;
            }
          }
        }
      }
    }
  }

</style>
