<template>
  <span :style="cssProps" class="dash">
  </span>
</template>

<script>
    export default {
        name: 'dash',
      props: {
        color: {
          type: String,
          default: "#F3D145"
        },
        width: {
          type: String,
          default: "25px"
        },
        height: {
          type: String,
          default: "2px"
        }
      },
      computed: {
        cssProps() {
          return `
          --dash-color: ${this.color};
          --dash-width: ${this.width};
          --dash-height: ${this.height};
          `

        }
      }
    }
</script>

<style scoped>
  .dash {
    display: block;
    background-color: var(--dash-color);
    width: var(--dash-width);
    height: var(--dash-height);
  }
</style>
