<template>
  <div :style="cssProps" class="hovermenu">
    <div class="titles">
      <title-item>Our fruits</title-item>
      <title-item>Our vegetables</title-item>
      <title-item>Our vision</title-item>
      <title-item>Contact us</title-item>
    </div>
    <div class="submenus">
      <div class="section text-section">
        <section-item>Pineapples</section-item>
        <section-item>Strawberries</section-item>
        <section-item>Apples</section-item>
        <section-item>Citrus</section-item>
      </div>
      <div class="section text-section">
        <section-item>Cauliflowers</section-item>
        <section-item>Tomatoes</section-item>
        <section-item>Eggplants</section-item>
        <section-item>Carotts</section-item>
      </div>
      <div class="section text-section">
      </div>
      <div class="section text-section">
      </div>
    </div>
    <img class="tomatoes-bowl" src="img/tomatoes.png">
  </div>
</template>

<script>
    import SectionItem from './SectionItem'
    import TitleItem from './TitleItem'
    export default {
      name: 'HoverMenu',
      components: {TitleItem, SectionItem},
      props: {
        width: {
          type: String,
          default: "0"
        },
        tomatoesX: {
          type: String,
          default: "0"
        }
      },
      computed: {
        cssProps() {
          return `
          --hover-menu-width: ${this.width};
          --tomatoes-x: ${this.tomatoesX};
          `
        }
      },
      methods: {
      }
    }
</script>

<style scoped lang="scss">
  .hovermenu {
    width: 100%;
    position: fixed;
    transition: left .5s;
    transition-delay: var(--bg-transition-delay);
    height: 100%;
    top: 0;
    left: var(--hover-menu-width);
    background-color: #FFF;
    z-index: 10;
    display: flex;

    .titles {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .title-item {
        height: 167px;
      }
    }

    .submenus {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20vw;

      .section {
        display: flex;
        height: 167px;
        flex-direction: column;
        justify-content: space-around;

        .section-item {
          margin: 15px;
        }
      }
    }
  }

  .tomatoes-bowl {
    transition: right .5s;
    transition-delay: var(--tomato-transition-delay);
    width: 40%;
    position: fixed;
    right: var(--tomatoes-x);
    bottom: 15%;
  }
</style>
