<template>
  <span :style="this.$store.state.transition.buttonRight" class="menu-switcher">
    <div class="image">
      <img :src="img">
    </div>
    <div class="switcher transition-button-color" @click="switchPage">
      <figure>
        <div>
          <svg viewBox="0 0 100 100" width="30" height="15">
            <polygon points="0 0, 50 50, 0 100"/>
          </svg>
        </div>
      </figure>
    </div>
  </span>
</template>

<script>
    export default {
      name: 'page-switcher',
      props: {
        img: {
          type: String,
          default: ""
        }
      },
      methods: {
        switchPage() {
          this.$store.commit('transition/updateStwitcher', {
            buttonRight: 'right: -360px;',
            backgroundPositionY: '1000px',
            pageNumber: 'bottom: -300px;'
          })
          setTimeout(() => {
            if(this.$route.name === 'fruits') {
              this.$router.push('/vegetables')
            } else {
              this.$router.push('/')
            }
            this.$store.commit('transition/updateStwitcher',{
              buttonRight: 'right: 60px;',
              backgroundPositionY: '0',
              pageNumber: 'bottom: 60px;'
            })
          }, 600)
        }
      }
    }
</script>

<style scoped>

</style>

<style lang="scss">
  .menu-switcher {
    position: fixed;
    bottom: 57px;
    display: flex;
    transition: right .4s ease-out;

    .image {
      position: absolute;
      right: 116px;
      width: 161px;
      height: 100%;
    }

    .switcher {
      top: 0;
      width: 116px;
      height: 107px;

      figure {
        padding-left: 8px;
        margin-top: 46px;
      }

      polygon {
        fill: #fff;
      }

    }
  }
</style>
