<template>
  <span :style="this.$store.state.transition.pageNumber" class="page-number">
    <span class="int-text-large int-text-primary">{{ number }}</span>
    <span class="int-text-small int-text-primary">/</span>
    <span class="int-text-small int-text-secondary">{{ max }}</span>
  </span>
</template>

<script>
    export default {
      name: 'page-number',
      props: {
        number: {
          type: Number,
          default: 0
        },
        max: {
          type: Number,
          default: 0
        }
      }
    }
</script>

<style scoped>

</style>

<style lang="scss">
  .page-number {
    position: fixed;
    left: 180px;
    width: 110px;
    height: 98px;
    transition: bottom .4s ease-out;
    font-family: "Acumin Pro", sans-serif;
    font-weight: bold;
    letter-spacing: 8px;
  }
</style>
