<template>
  <span class="section-item"><Dash class="dash" height="2px" width="25px" /><slot></slot></span>
</template>

<script>
    import Dash from './dash'
    export default {
      name: 'SectionItem',
      components: {Dash},
    }
</script>

<style scoped lang="scss">
  .section-item {
    color: var(--main-font-color);
    font-family: "acumin_pro", sans-serif;
    display: flex;
    font-weight: bold;
    font-size: 12px;

    .dash {
       margin-top: 8px;
       margin-right: 13px;
    }

  }
</style>
