<template>
  <div class="sidebar-element">
    <span class="flex flex-center">
      <slot></slot>
    </span>
  </div>
</template>

<script>
    export default {
        name: 'SidebarElement'
    }
</script>

<style scoped>

</style>
