<template>
  <div class="sidebar">
    <sidebar-element>
      <img src="img/logoRabbit@2x.png">
    </sidebar-element>
    <sidebar-element>
      <img src="img/panier.png">
    </sidebar-element>
    <sidebar-element>
      <dash width="2px" height="40px" />
    </sidebar-element>
    <sidebar-element>
      <span class="hamburger" @click="toggleMenu">
        <img src="img/hamburger.png">
      </span>
    </sidebar-element>
    <sidebar-element>
      <dash width="2px" height="40px" />
    </sidebar-element>
    <sidebar-element>
      <img src="img/search.png">
    </sidebar-element>
    <sidebar-element>
      <span class="orgabits"><span class="int-text-secondary">orga</span><span class="int-text-primary">bits</span></span>
    </sidebar-element>
  </div>
</template>

<script>
    import SidebarElement from './SidebarElement'
    import Dash from './dash'
    export default {
      name: 'Sidebar',
      components: {Dash, SidebarElement},
      data() {
        return {
          menu: false
        }
      },
      methods: {
        toggleMenu() {
          this.$emit('toggleMenu')
        }
      }
    }
</script>

<style scoped lang="scss">
  .sidebar {
    width: 149px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 11;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      transform: scale(1.12);
    }
  }


  .orgabits {
    writing-mode: sideways-rl;
    -webkit-writing-mode: vertical-lr;
    -webkit-transform:scale(-1);

    span {
      text-transform: uppercase;

      font-family: "Acumin Pro", sans-serif;
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      font-style: normal;
    }
  }
</style>
