<template>
  <span class="title-item"><Dash class="dash" height="2px" width="47px" /><slot></slot></span>
</template>

<script>
    import Dash from './dash'
    export default {
      name: 'TitleItem',
      components: {Dash},
    }
</script>

<style scoped lang="scss">
  .title-item {
    color: var(--main-font-color);
    font-family: "acumin_pro", sans-serif;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;

    .dash {
       margin-top: 16px;
       margin-right: 13px;
    }

  }
</style>
