// app global css in SCSS form

@import "https://use.typekit.net/qgy3bur.css";

html, body, #q-app {
  width: 100%;
  height: 100%;
  direction: ltr;
  overflow: hidden
}

:root {
  --main-font-color: #3B573B;

  --primary: #F1D145;
  --primary-2: #FBD848;
  --secondary: #375238;

  --white: #fff;

  --background: #f9f9f9;
}

.transition-button-color {
  cursor: pointer;
  background-image: linear-gradient(90deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--secondary) 50%,
    var(--secondary) 100%);
  background-size: 400%;

  &:hover{
    transition: background-position .6s ease-out;
    background-position: -50% 100%;
  }
}

.int-text-primary {
  color: var(--primary);
}
.int-text-secondary {
  color: var(--secondary);
}

.int-text-large {
  font-size: 98px;

}

.int-text-small {
  font-size: 29px;
}
