<template>
  <q-layout
    :style="css"
    class="page"
  >
    <Sidebar @toggleMenu="toggleMenu" />
    <HoverMenu :width="menuWidth" :tomatoes-x="tomatoesX"/>
    <q-page-container class="routed-component">
      <router-view />
    </q-page-container>
    <page-number :number="active_page" :max="2" />
    <page-switcher :img="button_image" />
  </q-layout>
</template>

<script>
import Sidebar from '../components/Sidebar'
import HoverMenu from '../components/HoverMenu'
import PageSwitcher from '../components/PageSwitcher'
import PageNumber from '../components/PageNumber'
export default {
  name: 'MainLayout',
  components: {PageNumber, PageSwitcher, HoverMenu, Sidebar},
  data () {
    return {
      menu: false,
      menuWidth: "-100%",
      tomatoesX: "-1000px",
      bgTransitionDelay: '0',
      tomatoTransitionDelay: '.5s',
      pageNumberPos: '57px'
    }
  },
  methods: {
    toggleMenu() {
      this.menu = !this.menu
      if(this.tomatoesX === '0') {
        this.tomatoesX = '-1000px'
        this.bgTransitionDelay = '.5s'
        this.tomatoTransitionDelay = '0'
        this.menuWidth = '-100%'
      } else {
        this.tomatoesX = '0'
        this.bgTransitionDelay = '0'
        this.tomatoTransitionDelay = '.5s'
        this.menuWidth = "139px"
      }
    }
  },
  computed: {
    css() {
      return `
      background-position-y: ${this.$store.state.transition.backgroundPositionY};
      --bg-image-name: url("img/${this.$route.name}.png");
      --bg-transition-delay: ${this.bgTransitionDelay};
      --tomato-transition-delay: ${this.tomatoTransitionDelay};
      `
    },
    active_page() {
      return this.$route.name === 'fruits' ? 1 : 2;
    },
    button_image() {
      return `img/${this.$route.name}-button.png`
    }
  }
}
</script>

<style lang="scss" scoped>

  .page {
    height: 100%;
    background: var(--bg-image-name) no-repeat;
    background-size: cover;
    background-color: var(--background);
    transition: background-position .4s;
    display: flex;

    .routed-component {
      width: 100%;
    }
  }
</style>
